<h1 id="the-heading">Learn CSS</h1>

<div id ="movie-list" class="col-md-2">
    <nav>
        <ul id="showlist">
            <li> <h2> <a href="#tmkoc">Tarak Metha </a> </h2></li>
            <li> <h2><a href="#himym"> How I met Your Mother</a> </h2></li>
            <li> <h2> <a href="#friends">Friends</a> </h2></li>
            <li> <h2> <a href="#dunkirk">Dunkirk</a> </h2></li>
            <li> <h2> <a href="#3idiots">3 idiots</a> </h2></li>
            <li> <h2> <a href="#randde">Rang De Basanti</a> </h2></li>
            <li> <h2> <a href="#titanic">Titanic</a> </h2></li>
            <li> <h2> <a href="#padmavati">Padmavati</a> </h2></li>
            <li> <h2> <a href="#ftd">FTD facts</a> </h2></li>
            <li> <h2> <a href="#kabil">Kaabil</a> </h2></li>
            



        </ul>
    </nav>

</div>

<div id= "main">
    <div class="flex-container"  id="show">
        <article id="tmkoc"class="flex-item">
            <h3>Tarak metha</h3>
            <img src="/public/img/tmkoc.jpeg" alt="rang-de">
            <p>Tarak metha is a 2008 Indian drama written, produced and directed by NTF. </p>
            
        </article>

        <article id="himym"class="flex-item">
            <h3>How I met Your Mother</h3>
            <img src="/public/img/himym.jpg" alt="rang-de">
            <p>This is a series which was running for 10 years. </p>

            
        </article>

        <article id="friends" class="flex-item">

               <h3>Friends</h3>
            <img src="/public/img/friends.jpeg" alt="rang-de">
            <p>This is a series which was running for 10 years. </p>
            
        </article>

        <article id="dunkirk" class="flex-item">
            
             <h3>Dunkirk</h3>
            <img src="/public/img/dunkirk.jpg" alt="rang-de">
            <p>Movie on WW2 </p>
        </article>

        <article id="3idiots"class="flex-item">
            <h3>3 idiots</h3>
            <img src="/public/img/3idiots.jpeg" alt="rang-de">
            <p>2009 Rajkumar Hirani films </p>
            
        </article >

        <article id="randde"class="flex-item">
             <h3>Rang De Basanti</h3>
            <img src="/public/img/randde.jpeg" alt="rang-de">
            <p>2009 Rajkumar Hirani films </p>
        </article>

        <article id="titanic" class="flex-item">
              <h3>Titanic</h3>
            <img src="/public/img/titanic.jpg" alt="rang-de">
            <p>Love Story</p>
        </article>

        <article id="padmavati"class="flex-item">
               <h3>Padmavati</h3>
            <img src="/public/img/padmavati.jpeg" alt="rang-de">
            <p>Indian History</p>
        </article>

        <article id="ftd"class="flex-item">
            <h3>FTD facts</h3>
            <img src="/public/img/ftd.jpeg" alt="rang-de">
            <p>Cool Youtube Channel</p>
        </article>

        <article id="kabil" class="flex-item">
            <h3>FTD facts</h3>
            <img src="/public/img/kaabil.jpg" alt="rang-de">
            <p>A sweet Hindi movie 2017</p>
        </article>
    </div>



</div>